In [45]:
import pandas as pd
import numpy as np

# 1. Problem definition - Xác định vấn đề
 - Goal: predict the sales price for each house

In [46]:
data = pd.read_csv("./Data/train.csv")

In [47]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [48]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

# 2. Features selection - Tìm đặc trưng
- Choose feature to train ML Model
- Need to use 'Feature Engineering' to identify features needed to train

In [49]:
features = ["LotArea", "YearBuilt", "1stFlrSF", "2ndFlrSF", "FullBath", "BedroomAbvGr", "TotRmsAbvGrd"]

# 3. Splitting the datasets - Chia dữ liệu
 - data: dataset
 - x : data[features]
 - y: target variable saleprice

In [50]:
x = data[features]
y = data['SalePrice']

In [51]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [52]:
x.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [53]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [54]:
# x,y -> x_train, y_train, x_valid, y_valid


from sklearn.model_selection import  train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(x,y,train_size=0.8,test_size=0.2,random_state=0) #0.8 <=> 80% train, 20% test

In [55]:
x_train

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
618,11694,2007,1828,0,2,3,9
870,6600,1962,894,0,1,2,5
92,13360,1921,964,0,1,2,5
817,13265,2002,1689,0,2,3,7
302,13704,2001,1541,0,2,3,6
...,...,...,...,...,...,...,...
763,9430,1999,1268,1097,2,3,8
835,9600,1950,1067,0,2,2,4
1216,8930,1978,1318,584,2,4,8
559,3196,2003,1557,0,2,2,7
684,16770,1998,1195,644,2,4,7

In [56]:
x_valid

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
529,32668,1957,2515,0,3,4,9
491,9490,1941,958,620,1,3,5
459,7015,1950,979,224,1,3,5
279,10005,1977,1156,866,2,4,8
655,1680,1971,525,567,1,3,6
...,...,...,...,...,...,...,...
326,10846,1993,1719,0,1,1,6
440,15431,2008,2402,0,2,2,10
1387,8520,1916,1664,862,2,5,10
1323,5330,1940,708,0,1,2,5
61,7200,1920,581,530,1,3,6

In [57]:
x.shape

(1460, 7)

In [58]:
x_valid.shape

(292, 7)

In [59]:
data.shape

(1460, 81)

# 4. Training machine model

In [60]:
from sklearn.tree import DecisionTreeRegressor

dt_model = DecisionTreeRegressor(random_state=1)

In [61]:
#Fit training data into model
dt_model.fit(x_train, y_train)

DecisionTreeRegressor(random_state=1)

In [62]:
y_pred = dt_model.predict(x_valid.head())

In [63]:
y_pred

array([335000., 140200., 119000., 207500., 112000.])

In [64]:
pd.DataFrame({'y':y_valid.head(),'y_pred:':y_pred})

          y   y_pred:
529  200624  335000.0
491  133000  140200.0
459  110000  119000.0
279  192000  207500.0
655   88000  112000.0

In [65]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(x_train, y_train)

RandomForestRegressor(random_state=1)

In [66]:
rf_model.predict(x_valid)

array([271690.        , 155039.        , 122024.        , 188915.        ,
        91147.        ,  88533.2       , 240518.24      , 126286.        ,
       624269.12      , 174312.25333333, 209138.46      , 147714.5       ,
       233088.25      , 123139.5       , 140503.75      , 139187.        ,
       232538.3       , 134260.        , 145952.24      , 130562.05      ,
       129304.53      , 147179.68333333, 112355.46      , 183320.22      ,
       153926.5       , 182853.57      , 176891.        ,  86320.        ,
       308784.98      , 112746.        , 141734.5       , 190094.        ,
       124460.65      , 280081.94      , 317780.6       , 179756.65      ,
       218512.64      , 118609.16      , 224329.28      , 304517.56      ,
       229449.        , 141422.15333333, 186872.35      , 302902.86      ,
       316105.83      , 139820.        , 105783.66      , 127933.25      ,
       165361.5       , 118615.5       , 314806.34      , 145952.75      ,
       168104.74      , 104321.5       , 230903.86      , 104475.43      ,
       127073.67      , 220962.32      , 134331.        , 103772.        ,
       142472.        , 121159.87      , 137172.        , 157535.82      ,
       238317.89      , 153370.5       , 132462.5       , 213296.08      ,
       100501.15      , 207034.3       , 176922.95      , 115179.73      ,
       119145.26      , 219613.93      , 119071.64      , 265884.02      ,
       139592.5       ,  91393.        , 321720.78      , 153696.5       ,
       132748.475     , 129206.4       , 129056.76      , 136215.        ,
       239858.7       , 190044.01      , 111229.25      , 202547.9       ,
       198464.88      , 128236.25      , 190444.2       , 178476.64      ,
       185386.89      , 232633.33      , 183443.15      , 131355.5       ,
       209776.78      , 170974.28      , 107571.81      , 130849.75      ,
       307472.63      , 212417.15      , 153752.        , 153535.        ,
        70977.11      , 291051.58      , 142023.33333333, 113776.36      ,
       177632.55      , 121039.91      ,  64540.        , 132775.5       ,
       200129.96      , 109796.        , 171477.1       , 141303.34      ,
       379344.92      , 130431.        , 199257.        , 239009.08      ,
       152198.33333333, 166299.03333333, 132312.        , 193673.        ,
       228011.78      , 225480.27      , 370579.67      , 193699.5       ,
       194058.35      , 181778.        , 186968.5       , 185745.14      ,
       185633.        , 184546.        , 122533.5       , 251232.12      ,
       130596.        , 188093.48      , 109434.16      , 185338.        ,
       147235.64      , 148487.59      , 250170.        , 145917.68      ,
       175268.        , 183785.24      , 229497.98      , 129091.25      ,
       282253.66      , 224047.6       , 160011.        , 313718.39      ,
       325897.47      , 131110.        , 137479.08      , 228547.92      ,
       118973.        , 161729.5       , 149790.8       , 171744.4       ,
       125462.1       , 148795.        , 185586.87      , 124288.125     ,
       238657.47      , 146472.        , 153023.        , 320900.5       ,
       192521.4       , 182268.9       , 163439.22      , 148931.38      ,
       203741.04      , 169334.        , 142891.        , 102440.22      ,
       129055.68333333, 236459.34      , 108644.28      , 151078.75      ,
       199199.        , 172884.5       ,  85111.        , 296611.27      ,
       116079.61      , 171556.        ,  88496.58333333, 193473.12      ,
       215577.88      , 144093.3       , 134260.        , 137337.        ,
       224150.43      , 138055.76      ,  97310.54      , 145669.5       ,
        81912.        , 137045.5       , 164732.        , 123940.02      ,
       145236.5       , 167402.72      , 100698.5       , 145294.01333333,
       132062.87      , 217393.74      , 151816.74      , 249703.        ,
       299828.97      ,  75675.8       , 154440.        , 271423.38      ,
        99958.87      ,  87986.        , 256185.        , 231986.2       ,
       179809.        , 277414.28      , 264852.73      ,  85421.83333333,
       194202.        , 171716.        , 143236.46      , 123673.5       ,
       196354.7       , 234169.6       , 213669.54      , 269384.        ,
       138126.55333333, 181447.5       ,  99184.87      ,  92297.11      ,
       122577.5       , 148620.        , 232536.4       , 136200.04      ,
       156913.24      , 103420.8       , 127298.        , 170366.5       ,
       106606.04      , 195612.15      , 229462.21      , 223218.78      ,
       165259.5       , 128302.625     , 176544.86742857, 182924.17      ,
       111784.5       , 181067.54      , 159068.32      , 261360.9       ,
        87746.14      , 357532.72      , 210126.86      , 278566.06      ,
        98601.94      , 236282.46      , 383697.98      , 452103.49      ,
       143236.65      , 156256.75      , 172705.5       , 121778.41      ,
       427192.36      , 322220.05      , 239785.4       ,  73976.22      ,
       171058.        , 307708.33      , 145679.18      , 187698.79      ,
       134249.5       , 198488.7       , 128103.5       , 226360.48      ,
       204146.        , 169714.37      , 218699.45      , 116743.        ,
       126018.5       , 361240.09      , 157760.25      , 134607.36      ,
       206879.31      , 221064.        , 100056.17857143, 275931.87      ,
       478954.15      , 176038.        ,  78096.        ,  81104.        ])

# Predict with a new input

In [67]:
rf_model.predict([[6969,2021,1000,800,4,5,8]])

/home/smithc3k56/.local/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([206158.4])

# 5.Model Evaluation - Đánh giá model

In [72]:
from sklearn.metrics import accuracy_score
accuracy_score = accuracy_score(y_valid[:5], y_pred[:5])
accuracy_score

0.0

In [71]:
#MSE - Giá trị càng nhỏ thì càng tốt 
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_valid[:5], y_pred[:5])
mse

3801199875.2